# Stage status to start server:
#   - "dev", for start server without graceful shutdown
#   - "prod", for start server with graceful shutdown
STAGE_STATUS="dev"
APP_NAME=

# Server settings:
SERVER_HOST=
PORT=
SERVER_READ_TIMEOUT=

# JWT settings :
JWT_SECRET_KEY_USER=
JWT_SECRET_KEY_EXPIRE_MINUTES_COUNT_USER=
JWT_REFRESH_KEY_USER=
JWT_REFRESH_KEY_USER_EXPIRE_HOURS_COUNT=



# Database settings:
POSTGRES_CONTAINER_NAME=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_SSL_MODE=
DB_MAX_CONNECTIONS=
DB_MAX_IDLE_CONNECTIONS=
DB_MAX_LIFETIME_CONNECTIONS=
DB_ADDRESS_STRING=

# Redis settings:
REDIS_CONTAINER_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB_NUMBER=


CONFIG_SENDER_NAME=
CONFIG_AUTH_EMAIL=
CONFIG_AUTH_PASSWORD=


ADMIN_ROOT = ""
